<div class="container" style="height: 87%;">
  <div class="card px-2">
    <div class="card-body mt-4 text-center">
      <h5 class="card-title fs-1">Cadastrar Funcionário</h5>
      <hr>
      <h5 class="card-title fs-5">Cargo: {{cargo.car_nome}}</h5>
      <h5 class="card-title fs-5">Atribuições: {{cargo.car_descricao}} </h5>
      <hr>
      <form>
        <div class="row">
          <div class="col-7">
            <div class="mb-3">
              <label class="form-label col-form-label-lg mb-0">Nome do Funcionário</label>
              <input type="text" class="form-control form-control-lg border-warning rounded-pill"
                [(ngModel)]="func.func_nome" name="func_nome">
            </div>

            <div class="mb-3">
              <label class="form-label col-form-label-lg mb-0">Setor do Supervisor</label>
              <input type="text" class="form-control form-control-lg border-warning rounded-pill"
                [(ngModel)]="func.func_cidade" name="func_setor">
            </div>

            <button (click)="cadastrarFuncionario()" class="btn btn-warning ">Cadastrar</button>
            <button routerLink="/cargos" class="btn btn-dark mx-3">Voltar</button>
          </div>
          <div class="col-4">
            <div>
              <img src="assets/imagens/placeholder.png" style="border: 1px solid black" width="135px" alt="">
            </div>
            <div class="mb-3">
              <label class="form-label col-form-label-lg mb-0">Foto do supervisor</label>
              <input type="file" class="form-control form-control-lg border-warning rounded-pill"
                [disabled]="!isFuncionarioCadastrado" (change)="uparFoto($event)" name="func_foto">
            </div>
          </div>
        </div>

      </form>
      <hr>
    </div>
  </div>
