<div class="container" style="height: 95%">
  <div class="card">
    <div class="card-body mt-1">
      <h5 class="card-title fs-2 text text-center">Nossos Funcionários</h5>
      <hr>
      <div style="height: 300px; overflow: auto;">
        <table class="table text-center">
          <thead>
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Nome</th>
              <th scope="col">Cidade</th>
              <th scope="col">Cargo</th>
              <th scope="col">Descr. Cargo</th>
              <th scope="col">Atribuir Cargo</th>
              <th>Pagamentos</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let funcionario of funcs">
              <th scope="row">{{funcionario.id_func}}</th>
              <td>{{funcionario.func_nome}}</td>
              <td>{{funcionario.func_cidade}}</td>
              <td>{{funcionario.car_nome}}</td>
              <td>{{funcionario.car_descricao}}</td>
              <td><i routerLink="/atribuirFuncionarioCargo/{{funcionario.id_func}}/{{funcionario.id_cargo}}"
                  class="fa-solid fa-check"></i></td>
              <td><i routerLink="/pagamentoFuncionario/{{funcionario.id_func}}" class="fa-solid fa-dollar-sign"></i></td>
              <td><i routerLink="/edicaoFuncionario/{{funcionario.id_func}}" class="fas fa-edit"></i>
                <i data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                  class="fas fa-trash-alt mx-2" (click)="pegaIdExclusao(funcionario.id_func)"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="text-center mt-3">
        <button routerLink="/cadastarFuncionarioCargoless" class="btn btn-warning">Cadastrar Funcionário</button>
      </div>
    </div>
  </div>
</div>


<!-- modal de exclusão -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Exclusão de Funcionário</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        O funcionário selecionado será excluído. Tem certeza que deseja prosseguir?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-warning" (click)="excluirFuncionario()" data-bs-dismiss="modal">Excluir</button>
      </div>
    </div>
  </div>
</div>
