<div class="container" style="height:105%">
  <div class="card px-2">
    <div class="card-body mt-1 text-center">
      <h5 class="card-title fs-1 mb-3">Edição dados Funcionário</h5>
      <hr>
      <form>
        <div class="row">
          <div class="col-7">
            <div class="mb-3">
              <label class="form-label col-form-label-lg mb-0">Nome do Funcionário</label>
              <input type="text" class="form-control form-control-lg border-warning rounded-pill"
                [(ngModel)]="func.func_nome" name="su_nome">
            </div>

            <div class="mb-3">
              <label class="form-label col-form-label-lg mb-0">Setor do Supervisor</label>
              <input type="text" class="form-control form-control-lg border-warning rounded-pill"
                [(ngModel)]="func.func_cidade" name="su_setor">
            </div>

            <button (click)="editarFunc()" class="btn btn-warning ">Cadastrar</button>
            <button routerLink="/listaGeralFuncionarios" class="btn btn-dark mx-3">Cancelar</button>
          </div>
          <div class="col-4">
            <div>
              <img *ngIf="func.func_foto != null" src="{{func.func_foto}}" style="border: 1px solid black" width="135px" alt="">
              <img *ngIf="func.func_foto == null" src="assets/imagens/placeholder.png" style="border: 1px solid black" width="135px" alt="">
            </div>
            <div class="mb-3">
              <label class="form-label col-form-label-lg mb-0">Foto do Funcionário</label>
              <input type="file" class="form-control form-control-lg border-warning rounded-pill"
                 (change)="uparFoto($event)" name="func_foto">
            </div>
          </div>
        </div>

      </form>
      <hr>
    </div>
  </div>
