/* From cssbuttons.io by @benjimich */
.card {
  width: 190px;
  height: 254px;
  display: flex;
  margin: 20px;
  flex-direction: column;
  align-items: center;
  background: #f2f2f3;
  border-radius: 12px;
 }

 .card .img {
  height: 100px;
  margin-top: 1em;
  aspect-ratio: 1;
  border-radius: 30%;
  background: #f2f2f3;
  box-shadow: inset 5px 5px 3px #a9a9aa,
               inset -5px -5px 3px #ffffff;
 }

 .card .info {
  text-align: center;
  margin-top: .3em;
  background: linear-gradient(120deg, black 0%, black 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 }

 .card .info > span {
  font-weight: bold;
  font-size: 1.2em;
 }

 .card .info p {
  margin-top: .3em;
 }

 .card a {
  margin-top: 2rem;
  color: #fff;
  text-decoration: none;
  background: linear-gradient(90deg, rgba(0,194,255,1) 0%, rgba(0,86,255,1) 100%);
  padding: .5em 2em;
  border-radius: 50px;
 }

 .card a:active {
  box-shadow: inset 3px 3px 3px #0056ff,
              inset -3px -3px 3px #00c2ff;
 }
