<div>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active"
        aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item">
        <img src="assets/imagens/yellow-and-bee-1368855.jpg" style="height: 650px; width: 100%;">
        <div class="container">
          <div class="carousel-caption text-end mb-5">
            <h1>Acreditamos em nosso Trabalho</h1>
            <p>Trabalhamos duro 24 horas por dia, 7 dias por semana por você</p>
          </div>
        </div>
      </div>
      <div class="carousel-item active">
        <img src="assets/imagens/bumble-bee-1506505.jpg" style="height: 650px; width: 100%;">

        <div class="container">
          <div class="carousel-caption text-start mb-5">
            <h1>O melhor para o melhor</h1>
            <p>Colhemos o nosso néctar apenas das melhores flores, para garantir o melhor para o seu paladar</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/imagens/bee-3-1551780.jpg" style="height: 650px; width: 100%;">
        <div class="container">
          <div class="carousel-caption text-end mb-5">
            <h1>Uma abelha não faz mel sozinha</h1>
            <p>Apenas os melhores e mais motivados funcionários. O carinho é o que deixa nosso mel mais doce</p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
  <div>
    <div class="container marketing mt-5">
      <!-- Three columns of text below the carousel -->
      <div class="row d-flex justify-content-evenly">
        <div class="text-center mb-4">
          <h1 class="fs-1">O que falam de nós.</h1>
        </div>

        <div class="col-lg-4 text-center">
          <img src="assets/imagens/funcionario.jpg" style=" border-radius: 50%; height: 140px; width: 140px;">

          <h2>Nossos Funcionários</h2>
          <p>"Gosto tanto do meu trabalho que nasci e morrerei aqui"</p>
          <p><a class="btn btn-warning">Saiba Mais</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center">
          <img src="assets/imagens/globorural.png" style=" border-radius: 50%; height: 140px; width: 140px;">

          <h2>A mídia</h2>
          <p>"O mel nunca teve tanta cara de mel". Globo Rural</p>
          <p><a class="btn btn-warning">Saiba Mais</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center">
          <img src="assets/imagens/anon.jpg" style=" border-radius: 50%; height: 140px; width: 140px;">

          <h2>Os concorrrentes</h2>
          <p>"O mel deles é Mel-lhor que o nosso". Abelha Anônima</p>
          <p><a class="btn btn-warning">Saiba Mais</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7 py-5 mt-5">
          <h2 class="featurette-heading fs-1">Um produto de tradição.<span class="text-warning"> Pergunte ao seu
              paladar.</span></h2>
          <p class="lead">Nós basicamente inventamos o mel de qualidade. Nossa receita secreta é o terror dos
            concorrentes, junto de nossa técnica de picada patenteada.</p>
        </div>
        <div class="col-md-5">
          <!-- <img src="assets/imagens/honey.jpg" role="img" preserveAspectRatio="xMidYMid slice" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" > -->
          <img role="img" preserveAspectRatio="xMidYMid slice" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="assets/imagens/honey.jpg" style="width: 400px; height: 400px;">

        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="row featurette">
          <div class="col-md-7 py-5 mt-5 order-md-2">
            <h2 class="featurette-heading fs-1">Qualidade? <span class="text-warning"> Apenas as melhores flores.</span>
            </h2>
            <p class="lead">Usamos as próprias flores de nossa plantação sustentável. Usando um conjunto de técnicas e
              tecnologias para o cultivo e extração do pólen. Sem danos, apenas lucros.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img role="img" preserveAspectRatio="xMidYMid slice" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="assets/imagens/girasol.jpg" style="width: 400px; height: 400px;" >
          </div>
        </div>
      </div>


      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 py-5 mt-5 ">
          <h2 class="featurette-heading fs-1" >Mão de obra especializada.<span class="text-warning"> Apenas abelhas especializadas</span></h2>
          <p class="lead">Nossos colaboradores são os mais bem capacitados. Contratamos os melhores e provemos treinamentos regulares. Tudo isso para garantir um processo perfeito.</p>
        </div>
        <div class="col-md-5">
          <img src="assets/imagens/colmeia.jpg"style="width: 400px; height: 400px;">


        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->
  </div>
</div>
